<!-- wp:html --><div class="WP_DEBUG">acrihve.hmtl</div>
<!-- /wp:html -->
<!-- wp:template-part {"slug":"header","align":"full","tagName":"header"} /-->
<!-- wp:template-part {"slug":"a2z-pagination","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"breadcrumbs","className":"breadcrumbs","layout":{"inherit":true}} /-->
<!-- wp:group {"textColor":"greeny","style":{"color":{"background":"#cfdbc7"}},"layout":{"inherit":true}} -->
<div class="wp-block-group has-greeny-color has-text-color has-background" style="background-color:#cfdbc7">
            <!-- wp:query-title {"type":"any","level":3,"align":"center"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"archive-query","tagName":"section","className":"archive","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"search","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"page-footer","tagName":"footer","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"footer","className":"footer"} /-->
<!-- wp:template-part {"slug":"footer-menu","className":"footer-menu"} /-->
