<!-- wp:html --><div class="WP_DEBUG">search.html</div>
<!-- /wp:html -->
<!-- wp:template-part {"slug":"header","align":"full","tagName":"header"} /-->
<!-- wp:template-part {"slug":"breadcrumbs","className":"breadcrumbs","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"archive-query","tagName":"section","className":"archive","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"search","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"page-footer","tagName":"footer","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"footer","className":"footer"} /-->
<!-- wp:template-part {"slug":"footer-menu","className":"footer-menu"} /-->
