<!-- wp:html --><div class="WP_DEBUG">single-oik-themes.html</div>
<!-- /wp:html -->
<!-- wp:template-part {"slug":"header","align":"full","tagName":"header"} /-->
<!-- wp:template-part {"slug":"breadcrumbs","className":"breadcrumbs","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"page-content-full"} /-->
<!-- wp:template-part {"slug":"metadates","theme":"fizzie"} /-->
<!-- wp:template-part {"slug":"information","className":"information","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"download-theme","className":"download","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"search","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"page-footer","tagName":"footer","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"footer","className":"footer"} /-->
<!-- wp:template-part {"slug":"footer-menu","className":"footer-menu"} /-->